@use "@angular/material" as mat;

// Use the theme variable from global styles
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$violet-palette,
    )
  )
);

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; // 8px grid: 2 units
}

.loading-message {
  margin-top: 16px; // 8px grid: 2 units
  margin-bottom: 0;
  color: mat.get-theme-color($theme, on-surface-variant);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}